.cta { 
    cursor: pointer ;
    &--login {
        color : $c-grayish-violet
    }

    &--signup { 
        color : #fff  ; 
        background :$c-cyan  ; 
        border-radius: 5rem ;
        width : fit-content ; 

        &:hover { 
            background  : hsl(180, 50%, 75%)
        }
    }


}