.nav { 
    display: flex ; 
    flex-direction: row ; 
    justify-content: space-between; 
    width : 90%  ;
    margin : 3rem  auto ;
    font-size : 1.6rem ; 
    font-weight: 500 ; 



    &__icon { 
        margin-right : 5rem ; 

    }
    &__lists { 
        list-style: none ;
        display: flex ; 
        flex-direction: row ;
        margin-right : auto ;

        &--item { 

            a { 
                color : $c-grayish-violet
            }
            &:nth-child(2) { 
                margin : 0 3rem;
            }

        }
    } 

    &__cta{ 
        .login { 
            margin-right : 3rem ;
        }

        .signup { 

        }
    }
}