.nav { 
    display: flex ; 
    flex-direction: row ; 
    justify-content: space-between; 


    &__icon { 

    }
    &__lists { 

        &--item { 

        }
    } 

    &__cta{ 
        
    }
}