*, 
*::before, 
*::after { 
    margin : 0 ; 
    padding :0 ; 
    box-sizing: border-box; 
    
}



html { 
    font-family: 'Poppins'; 
    scroll-behavior: smooth ; 
    font-size : 62.5% ;  
    
}

.App  { 
    width : 100vw ; 
    max-width : 1600px ; 
    margin : 0 auto ; 
    height : min-content ;
    overflow-x: hidden;
    
}