*, 
*::before, 
*::after { 
    margin : 0 ; 
    padding :0 ; 
    box-sizing: border-box; 
    
}



html { 
    font-family: 'Poppins'; 
    scroll-behavior: smooth ; 
    font-size : 62.5% ;  
    
}