//COLORS 
$c-cyan :  #2acfcf ; 
$c-dark-violet : #3b3054 ; 

//SECONDARY-COLORS 
$c-red :  hsl(0, 87%, 67%) ; 

//NEUTRAL COLORS 
$c-gray : hsl(0, 0%, 75%) ; 
$c-grayish-violet : hsl(257, 7%, 63%) ; 
$c-very-dark-blue :  hsl(255, 11%, 22%) ; 
$c-very-dark-violet :  hsl(260, 8%, 14%) ; 

//TYPOGRAPHY 
$f-default-size : 1.8rem  ; //18px 
$f-weight-500 : 500 ; 
$f-weight-700 : 700 ; 


//BREAKPOINTS 
$bp-1300 : 1300px ; 